




body {
    margin: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: #D9D9D9;
    padding-left: 50px;
    padding-right: 50px;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    text-align: right;
    background-color: #D9D9D9;
    margin-top: 15%;
}

.hero {
    color: white;
    text-align: left;
    background-image: url(../images/herobackground.png);
    padding-top: 100px;
    padding-bottom: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroh1 {
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: left;
    padding-bottom: 50px;
    padding-top: 75px;
    padding-left: 50px;
    color: white
}

.heroh4 {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: left;
    padding-left: 100px;
    color:white
}

.nav li {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:00;
    font-size: 24px;
    padding: 20px
}

.left {
    float: left;
    padding-bottom: 50px;
    padding-right: 15%;

}

.right {
    float: right;
    padding: 50px;
}

.aboutme {
    margin: 20px;
    padding-right: 50px;
}


.skillsContainerGrid {
background-image:url(../images/black&red.png);
padding-top: 150px;
width: 100%;
margin-top: 50px;
background-repeat: repeat;
display: grid;
height: 700px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: "UserResearch UserEmpathy" "Skills Skills";
justify-content: center;
align-items: center;
column-gap: 20px;
row-gap: 25%;
}

.UserResearch {
    grid-area: UserResearch;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 477px;
    height: 412px;
    text-align: center;
    margin-top: 10px;
    align-items: center;
}

.UserEmpathy {
    grid-area: UserEmpathy;
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 477px;
    height: 412px;
    text-align: center;
    margin-top: 10px;
}

.skills {
    grid-area: Skills;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: -115px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "PhotoShop Illustrator Figam/Figjam Branding" "Skills Skills";
    text-align:center;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.casestudies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "Elemental Plantopedia Idaho";
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 25%;
}

.Elemental {
    grid-area: Elemental;   
    padding-inline: 30px;

}


.Plantopedia {
    grid-area: Plantopedia;
    padding-inline: 30px;
}


.Idaho {
    grid-area: Idaho;
    padding-inline: 30px;
}


#container1 {
margin-left: auto;
margin-right: auto;
padding-left: 50px;
padding-right: 50px;
}


#column {
    flex-direction: column;
}

#row {
 flex-direction: row;
 text-align: right;
}

button {
    background-color: #800C0C;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    font-weight: bold;
    padding: 3%;
    border-radius: 8px;
    border: #FFFFFF;
}

h1 { 
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: right;
    color:#1E1E1E
}

h2 {
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 { 
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: left;
    color:#1E1E1E
}

h4 {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:#1E1E1E
}

h5 {
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color:#1E1E1E
}

p { 
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: lighter;

}
  

.p2 { 
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;

}
  